<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Lgq_travel.springboot.mapper.FoodMapper">
    <select id="selectAllFood" resultType="Food">
        select *
        from food
    </select>

    <select id="selectFoodById" parameterType="Integer" resultType="Food">
        select
        * from food
        where id =
        #{id}
    </select>

    <select id="postCountByQueryVo" resultType="Integer" parameterType="QueryVo">
        select count(1)
        from food
    </select>

    <select id="selectPostListByQueryVo" parameterType="QueryVo" resultType="Food">
        select *
        from food
        <where>
            <if test="name != null and name != ''">
                name like "%"#{name}"%"
            </if>
        </where>
        order by id
            limit #{startRow}, #{size}
    </select>

    <insert id="addFood" parameterType="Food">
        insert into `food`
        (name,
         message,
         address,
         img)
        values (#{name,jdbcType=VARCHAR},
                #{message,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR},
                #{img,jdbcType=VARCHAR})
    </insert>

    <!-- 通过ID删除 -->
    <delete id="deleteById" parameterType="int">
        delete
        from food
        where id = #{id}
    </delete>

    <update id="updateFood" parameterType="Food">
        update food
        <set>
            <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
            <if test="address != null">address=#{address,jdbcType=VARCHAR},</if>
            <if test="message != null">message=#{message,jdbcType=VARCHAR},</if>
            <if test="img!= null">img=#{img,jdbcType=VARCHAR},</if>
        </set>
        where id = #{id}
    </update>

</mapper>