<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Lgq_travel.springboot.mapper.TicketMapper">
    <resultMap id="TicketMap" type="Ticket">
        <id property="id" column="id" javaType="Integer" jdbcType="INTEGER"/>
        <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
        <result property="sid" column="sid" javaType="Integer" jdbcType="INTEGER"/>
        <result property="Dprice" column="Dprice" javaType="double" jdbcType="DOUBLE"/>
        <result property="Cprice" column="Cprice" javaType="double" jdbcType="DOUBLE"/>
        <result property="message" column="message" javaType="String" jdbcType="VARCHAR"/>
        <result property="dpNum" column="DPNum" javaType="Integer" jdbcType="INTEGER"/>
        <result property="cpNum" column="CPNum" javaType="Integer" jdbcType="INTEGER"/>
        <association property="scenic" javaType="Scenic">
            <id property="id" column="sid"/>
            <result property="name" column="name" javaType="String" jdbcType="VARCHAR"/>
            <result property="address" column="address" javaType="String" jdbcType="VARCHAR"/>
            <result property="theme" column="theme" javaType="String" jdbcType="VARCHAR"/>
            <result property="message" column="message" javaType="String" jdbcType="VARCHAR"/>
            <result property="pollution" column="pollution" javaType="Integer" jdbcType="INTEGER"/>
            <result property="hot" column="hot" javaType="Integer" jdbcType="INTEGER"/>
            <result property="state" column="state" javaType="Integer" jdbcType="INTEGER"/>
            <result property="img" column="img" javaType="String" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="selectTicketList" parameterType="Integer" resultType="Ticket">
        select *
        from ticket
        where sid = #{sid}
    </select>

    <select id="postCountByQueryVo" parameterType="QueryVo" resultType="Integer">
        select count(1)
        from ticket
    </select>

    <select id="selectPostListByQueryVo" parameterType="QueryVo" resultType="Ticket">
        select t.id,t.name,t.message,t.Dprice,t.Cprice,t.DPNum,t.CPNum,s.name
        from ticket t left join scenic s
        on s.id=t.sid
        <where>
            <if test="name != null and name != ''">
                t.name like "%"#{name}"%"
            </if>
        </where>
        order by t.id desc
        limit #{startRow},#{size}
    </select>

    <!-- 通过ID删除 -->
    <delete id="deleteById" parameterType="int">
        delete from ticket where id = #{id}
    </delete>

    <insert id="addTicket" parameterType="Ticket">
        insert into `ticket`
        (
            sid,
            name,
            `message`,
            Dprice,
            Cprice
        )
        values(
                  #{sid,jdbcType=INTEGER},
                  #{name,jdbcType=VARCHAR},
                  #{message,jdbcType=VARCHAR},
                  #{Dprice,jdbcType=DOUBLE},
                  #{Cprice,jdbcType=DOUBLE}
              )
    </insert>

    <update id="updateTicket" parameterType="Ticket">
        update `ticket`
        <set>
            <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
            <if test="message != null">`message`=#{message,jdbcType=VARCHAR},</if>
            <if test="Dprice != null">Dprice=#{Dprice,jdbcType=DOUBLE},</if>
            <if test="Cprice != null">Cprice=#{Cprice,jdbcType=DOUBLE},</if>
        </set>
        where id = #{id}
    </update>

    <!--    //获得最低票价-->
    <select id="selectPriceBySid" resultType="double" parameterType="Integer">
        select min(Cprice) from ticket where sid=#{sid}
    </select>
    
    <select id="getTicketById" parameterType="Integer" resultMap="TicketMap">
        select
            t.id,t.name,t.message,t.Dprice,t.Cprice,s.name,s.message,s.theme,s.address,s.img
        from ticket t
                 left join scenic s on s.id=t.sid
        where t.id = #{id}
    </select>
</mapper>